<form (submit)="loginUser($event)">
  <input type="text" placeholder="Username" id="username">
  <input type="password" placeholder="Password" id="password">
  <input type="submit" value="submit">
</form>

<form (submit)="testForm($event)">
  <input type="text" id="test1">
  <input type="text" id="test2">
  <input type="submit" value="submit">
</form>