<!--app-hello></app-hello-->
<!--<input type="text" value="{{myVariable}}" [disabled]=myDisabledValue />

<button (click)="callMyFunction()">Hey there!</button>
<br>
<input type="text" [value]="text" (input)="updateValue($event)">
{{text}}
<br>
<input type="text" [(ngModel)]="text2">
{{text2}}
<hr>
<table>
    <tr>
        <td>S No.</td>
        <td>Name</td>
        <td>Is online?</td>
    </tr>
    <tr *ngFor="let record of records; let i = index;let firstRecord = first; let lastRecord = last; let evenRecord = even; let oddRecord = odd;" [ngClass]="{odd: oddRecord, even: evenRecord, first: firstRecord ,last: lastRecord}">
        <td> {{i+1}} </td>
        <td>{{record.name}}</td>
        <td>{{record.online}}</td>
    </tr>
</table>

<hr>


<hr>
<h1> หน้าอื่น </h1>-->
<router-outlet></router-outlet>
