tr.even {
    background: black;
    color : white;
}

tr.odd {
    background: red;
    color : white;
}

tr.first {
    background: blue;
    color : white;
}

hr { 
    display: red;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #000;
    background-color: #000;
    height: 1px;
} 